@model TreeStructure.ViewModels.CategoryTreeViewModel

@foreach (var category in Model.Categories)
{
    var ulId = $"ul-{category.Id}";
    var liId = $"li-{category.Id}";
    <li id="@liId" class="wholeNode">
        @if (category.HasChildren())
        {
            <i class="expandable">+</i>
        }
        <a>@category.Name</a><span class="menu"> =></span>
        <span class="options hidden">
            @*<a asp-action="Create" asp-route-id="@category.Id">Add Node</a> |
                <a asp-action="Edit" asp-route-id="@category.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@category.Id">Delete</a>*@
            <button type="button" class="btn btn-primary" id="btnAdd" onclick="Delete(@category.Id)">Delete</button>
            <button type="button" class="btn btn-danger">Delete modal</button>
            <a class="btn btn-danger delete"
               data-id="@category.Id"
               data-controller="Categories"
               data-action="delete"
               data-body-message="Are you sure to delete this node?">
                <i class="fas fa-trash alt"></i>
                Delete
            </a>
            <button type="button" class="render" id="@category.Id">Add node</button>
        </span>
        <ul id="@ulId">
            @if (category.HasChildren())
            {

                @await Component.InvokeAsync("CategoriesStructure", new { categories = category.Children, isFirstCall = false })
            }
        </ul>
    </li>

}